@import "../app.component.scss";

.todos-container {
  .empty-plug {
    @extend %border-item;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    opacity: .7;
  }
}
