<header class="header">
	<h1>ToDo App</h1>

	<nav class="nav-bar">
		<ul class="link-list">
			<li class="list-item">
				<a class="link-item" href="https://www.linkedin.com/in/artem-bilas-b50905182/" target="_blank">
					<i class="pi pi-linkedin"></i>
				</a>
			</li>

			<li class="list-item">
				<a class="link-item" href="https://github.com/ArtemBilas" target="_blank">
					<i class="pi pi-github"></i>
				</a>
			</li>

			<li class="list-item">
				<a class="link-item" href="mailto:artembilas@gmail.com" target="_blank">
					<i class="pi pi-envelope"></i>
				</a>
			</li>
		</ul>

		
	</nav>
</header>