// variables
$dark-text-color: #333333;
$light-text-color: #f6f8fa;
$background-main: #282e38;

//colors
$blue-300:#85b2f9;
$orange-300: #ff8780;
$green-300: #76db9b;
$gray-300:#9fa9b7;
$blue-gray-400: #818ea1;
$cyan: #f3fbfd;
$light-grey: #F5F5F5;
$light: #ffff;

//templates
%border-item{
	border: 1px solid #ced4da;
	border-radius: 6px;
	padding: .75rem;
}

* {
	margin: 0;
	padding: 0;

	ul {
		list-style: none;
		padding: 0;
	}
}

html,
body {
	font-family: 'Roboto', sans-serif;
	height: 100%;
}

html {
	font-size: 16px;
}

body{
	width: 100%;
	flex-direction: column;

	.content-wrapper {
		max-width: 1440px;
		margin: 0 auto;
		height: 100vh;
		display: flex;
		flex-direction: column;

    .content{
      max-width: 960px;
      height: auto;
      overflow: auto;
      //max-width: 60%;
      margin: 50px auto 15px;
      padding: 1.5rem;
      border-radius: 5px;
      box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
      background: $light;
    }
	}
}
