:host {
	flex-grow: 1;
	height: 10vh;

	.main {
		.content{
			max-width: 60%;
			margin: 3rem auto;
			border-radius: 5px;
			box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
			padding: 3rem 0;
		}
	}
}